<!doctype html>
<html>

<head>
  <title>Flaskr</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description" content="Description">
  <meta name="keywords" content="Keywords">
  <!-- Manifest.json  -->
  <link href="/manifest.json" rel="manifest">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="page">
    <h1>Flaskr</h1>
    <div class="metanav">
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">{{ gettext('log in') }}</a> {% else %}
      <a href="{{ url_for('logout') }}">{{ gettext('log out') }}</a> {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block body %}{% endblock %}
  </div>

  <script>
    window.PHRASEAPP_CONFIG = {
      projectId: "flask-demo-mnr"
    };
  </script>
</body>

</html>